# Laravel
/public/build
/public/hot
/public/storage
/storage/*.key
/.phpunit.cache
.phpunit.result.cache

Homestead.json
Homestead.yaml
auth.json

# Environment
.env
.env.backup
.env.production

# Editors
_idea_helper.php
_idea_helper_models.php
/.idea
/.vscode
/.fleet

# Package Managers
/vendor
/node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# OS
.DS_Store
Thumbs.db
