@use "../abstracts/variables" as v;
@use "../abstracts/layout-sizes" as ls;

.page-content {
    padding-top: ls.$spacing-large;
    padding-bottom: ls.$spacing-large;

    section {
        margin-top: ls.$spacing-xxl;
    }
}

.page-header {
    &__title {
        margin-bottom: ls.$spacing-medium;
    }

    &__subtitle {
        font-size: v.$font-size-large;
        color: v.$color-gray;
    }
}

.section-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid v.$color-light;
    padding-bottom: ls.$spacing-small;
}

.section-body {
    padding-top: ls.$spacing-medium;
}
