@use "sass:color";
@use "../abstracts/variables" as v;
@use "../abstracts/layout-sizes" as ls;

.site-footer {
    background-color: v.$color-light;
    color: v.$color-gray;
    border-top: dashed color.scale(v.$color-light, $lightness: -15%);

    padding-top: ls.$spacing-large;
    padding-bottom: ls.$spacing-large;
}

.site-footer--inner {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.footer-copy {
    font-size: v.$font-size-small;
    margin: 0;
}

.footer-nav {
    flex: 1;
    display: flex;
    flex-direction: row;

    ul {
        list-style: none;
        font-size: v.$font-size-small;
        
        a {
            color: v.$color-gray;
    
            &:hover {
                color: v.$color-dark;
            }
        }
    }
}
