@use "../abstracts/variables" as v;
@use "../abstracts/layout-sizes" as ls;

.site-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: v.$shadow-default;
    background-color: v.$color-true-white;

    &--inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
        padding-top: ls.$spacing-medium;
        padding-bottom: ls.$spacing-medium;
    }

    &__logo {
        font-weight: bold;
        color: v.$color-primary;
    }

    &__nav {
        ul {
            display: flex;
            flex-flow: row;
            list-style: none;
            padding: 0;
            margin: 0;
        }
    
        li {
            margin-left: ls.$spacing-large;
        }
    
        a {
            color: v.$color-dark;
            transition: transform 0.2s ease;
    
            &:hover {
                color: v.$color-primary;
                transform: scale(1.1);
            }
        }
    }

    &__actions {
        display: flex;
        flex-flow: row;
        gap: ls.$spacing-medium;
    }
}

.logo {
    display: inline-flex;
    color: inherit;

    &__wrapper {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        height: 40px;
    }
    
    &__image {
        position: absolute;

        img {
            display: block;
            height: 60px;
            width: 60px;
        }
    }

    &__text {
        -webkit-text-stroke: 2px v.$color-dark;
        paint-order: stroke fill;
        font-size: v.$font-size-large * 1.5;
        position: relative;
        z-index: 2;
        padding: 0 10px;

        position: static;
        transform: none;
    }
}

.acc {
    &__link {
        color: v.$color-primary;
        font-weight: bold;
        height: 40px;
        display: flex;
        align-items: center;
    
        img {
            display: block;
            height: 40px;
            width: 40px;
            opacity: 0.7;
        }
    }

    &__basket {
        gap: 10px;
    }
}
