// DEVICE WIDTH

$breakpoint-small: 576px; // small tablet / big mobile
$breakpoint-medium: 768px; // medium tablet
$breakpoint-large: 992px; // laptop
$breakpoint-xl: 1200px; // desktop
$breakpoint-xxl: 1400px; // wide monitors

// CONTAINER

$container-max-width: $breakpoint-xl;
$container-padding: 15px;

// SPACING

$spacer: 1rem;

$spacing-xs: $spacer * 0.25;
$spacing-small: $spacer * 0.5;
$spacing-medium: $spacer;
$spacing-large: $spacer * 1.5;
$spacing-xl: $spacer * 3;
$spacing-xxl: $spacer * 4;
