@use "../abstracts/variables" as v;

.btn {
    cursor: pointer;
    padding: 14px 26px;
    border-radius: 16px;

    &--primary {
        background-color: v.$color-primary;
        color: v.$color-light;
    }

    &--accent {
        background-color: v.$color-accent;
        color: v.$color-dark;
    }

    &--secondary {
        background-color: v.$color-neutral;
        color: v.$color-dark;
    }
}
