@use "../abstracts/variables" as v;

html {
    font-size: 100%;
    height: 100%;

    scrollbar-gutter: stable;
}

body {
    background-color: v.$color-bg-white;
    color: v.$color-dark;

    font-family: v.$font-family-base;
    font-size: v.$font-size-medium;
    line-height: 1.6;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
