@use "sass:color";
@use "../abstracts/variables" as v;
@use "../abstracts/layout-sizes" as ls;

h1, h2, h3, h4, h5, h6 {
    color: v.$color-dark;
    margin-top: ls.$spacing-large;
    margin-bottom: ls.$spacing-medium;
    line-height: 1.2;
}

h1 {
    font-size: v.$font-size-base * 2.5;
}
h2 {
    font-size: v.$font-size-base * 2;
}
h3 {
    font-size: v.$font-size-base * 1.5;
}
h4 {
    font-size: v.$font-size-base * 1.25;
}

p {
    margin-bottom: ls.$spacing-medium;
}

a {
    color: v.$color-primary;
    text-decoration: none;
    transition: color 0.2s ease;

    &:hover {
        color: color.scale(v.$color-primary, $lightness: -10%);
        text-decoration: underline;
    }
}
