@use "sass:color";
@use "../abstracts/variables" as v;
@use "../abstracts/layout-sizes" as ls;

h1, h2, h3, h4, h5, h6 {
    color: v.$color-dark;
    line-height: 1.2;
    margin: 0;
}

h1 {
    font-size: v.$font-size-xxxl;
}
h2 {
    font-size: v.$font-size-xxl;
}
h3 {
    font-size: v.$font-size-xl;
}
h4 {
    font-size: v.$font-size-large;
}

p {
    margin: 0;
}

a {
    color: v.$color-primary;
    text-decoration: none;
    transition: color 0.2s ease;

    &:hover {
        color: color.scale(v.$color-primary, $lightness: -10%);
    }
}

ul {
    margin: 0;
}
