@use "../abstracts/variables" as v;
@use "../abstracts/layout-sizes" as ls;

.about {
    &__gallery {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 20px;

        picture {
            display: block;
            width: calc((100% / 3) - 20px);
            aspect-ratio: 16 / 9;
            overflow: hidden;

            @media (max-width: 1024px) {
                width: calc(50% - 20px);
            }

            @media (max-width: 650px) {
                width: 100%;
                max-width: 400px;
            }

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    
    &__list {
        ul {
            list-style: none;

            li {
                margin-top: ls.$spacing-large;
                display: flex;
                flex-direction: column;
                gap: ls.$spacing-medium;
                
                h3 {
                    display: inline;
                    border-bottom: 2px solid v.$color-light;
                }
            }
        }
    }
}
