@use "../abstracts/variables" as v;
@use "../abstracts/layout-sizes" as ls;

.auth-wrapper {
    max-width: 450px;
    margin: 0 auto;

    .remember-check {
        display: flex;
        align-items: center;
        gap: ls.$spacing-small;

        &__checkbox {
            width: 1rem;
            height: 1rem;
        }
    }
}

