@use "../abstracts/variables" as v;
@use "../abstracts/layout-sizes" as ls;

.banner {
    position: relative;
    overflow: hidden;

    min-height: 380px;
    padding: ls.$spacing-xxl 0;
    text-align: center;

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            filter: brightness(70%);
        }
    }

    &__content {
        width: 92%;
        margin: 0 auto;
        position: relative;
        z-index: 2;
        
        display: block;
        background: rgba(v.$color-bg-white, 0.7);
        border-radius: 42px;

        display: flex;
        flex-direction: column;
        align-items: center;

        a {
            transform: translateY(25%);
        }
    }
}
